body{
    margin: 0;
    padding: 0;
    background-color:#cccfd3
}

header{
    text-align: center;
    background-color: #D88166;
    color:#cccfd3;
}
main{
    padding-left: 5%;
    padding-right: 5%;
}

form{
    background-color: bisque;
    padding: 2%;
    border-radius: 10px;
    margin-bottom: 2%;
}
.checkHolder{
    text-align: left;
}

.ordinance{
    text-align: left;
grid-template-columns: 1fr 1fr;
display: grid;
}

.hide{
    display: none;
}